$primary-color: #AA5B39;
$secondary-color: rgb(213,86,69);
$tertiary-color: rgb(16,33,36);
$background: rgb(217,189,134);
$accent-color:rgb(217,189,134);
$white: #fff;
$main-font: 'Dosis', sans-serif;
$secondary-font: 'Play', sans-serif;

@import url(http://fonts.googleapis.com/css?family=Dosis|Play);

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }
.clearfix { display: block; }


.button {
  background-color: $tertiary-color;
}

.button {
  background-color: $tertiary-color;
  transition: all 0.6s ease-in;
}

.button:hover {
  background-color: white;
  border: medium solid $accent-color;
  border-width: 1px;
  color: $secondary-color;
  opacity: 0.8;
  transition: all 1s ease-out;
}

.argument-container {
  margin-top: 222px;
  background-color: #733c35;
  border-radius: 5px;
  padding-top: 15px;
  h3 {
    font-family: $main-font;
    text-align: center;
    text-decoration: underline;
  }
}

.argument {
  border-radius: 5px;
}

.topic-title {
  text-align: center;
  h1 {
    font-family: $main-font;
    font-style: bold;
    text-decoration: underline;
  }
}

.side-arguments {
  h2 {
    text-align: center;
    text-decoration: underline;
  }
}

.side-link {
  width: 150px;
}

.side-link a {
  color: white !important;
  width: 150px;
  text-align: center;
}

.side-link:hover a {
  border-radius: 10px;
  background-color: white !important;
  border: 3px solid $accent-color;
  color: $primary-color !important;
  text-decoration: underline;
  opacity: 0.9;
}

.top-bar {
  background: none;
  height: 3.750em;
  left: 15em;
  margin-top: -10px;
}

.side-nav {
  background-color: $tertiary-color;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 17em;
  font-family: $main-font;
  padding: 0;

  li {
    font-size: 1.2em;
    padding-left: 2em;
  }

  .active {

    background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.02, $accent-color),
    color-stop(0.02, $background)
    ) !important;
    background-image: -o-linear-gradient(right, $accent-color 2%, $background 2%) !important;
    background-image: -moz-linear-gradient(right, $accent-color 2%, $background 2%) !important;
    background-image: -webkit-linear-gradient(right, $accent-color 2%, $background 2%) !important;
    background-image: -ms-linear-gradient(right, $accent-color 2%, $background 2%) !important;
    background-image: linear-gradient(to right, $accent-color 2%, $background 2%) !important;
    color: $primary-color !important;
  }

}

.content {
  font-family: $main-font;
  padding: 1.250em;
  padding-top: 0;
  padding-left: 2%;
  height: 100%;
  h2 {
    font-family: $main-font;
  }
}

.versus {
  padding-top: 33px;
  padding-left: 28px;
  h1 {
    font-family: $secondary-font;
  }
}

.bottom-avatar {
  bottom: 20px;
  height: 52px;
  position: fixed;
  width: 52px;
  left: -20px;

  img {
    bottom: 20px;
    height: 52px;
    position: fixed;
    width: 52px;
    border-radius: 5px;
  }

}

.bottom-avatar-text {
  bottom: 20px;
  color: $white;
  font-size: 1em !important;
  height: 52px;
  left: 50px;
  padding-top: 7px;
  position: fixed;
  width: 60px;
}

.workspace-links {
  a {
    color: $secondary-color;
    float:right;
    font-size: 0.85em;
    padding: 0 3px;
  }
}

.workspace-update-links {
  a {
    color: $secondary-color;
    float: right;
    font-size: 0.85em;
    letter-spacing: 0.1em;
    padding-left: 10px;
  }

}

.debate-player-conatiner {
  padding-bottom: 15px;
  img {
    height: 60px;
    width: 60px;
    border-radius: 10px;
  }
}

.debate-player-info {
  text-align: left;
  padding-right: 31px;
  padding-top: 7px;
  padding-left: 0px;
}

.debate-player-avatar {
  text-align: right;
}

body {
  background-color: $background;
}

.main-container {
  margin: 0 379px;
  max-width: 62.5rem;
  width: 100%;
  overflow: auto;
}

.topic-title {
  text-align: center;
}

.topic-debate-container {
  border: 5px solid rgba(36, 108, 96, 1);
  border-radius: 10px;
  background-color: rgba(36, 108, 96, 0);
  img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }
}

.topic-debate-info {
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  a span {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
  }
}

.topic-versus {
  padding-top: 25px;
}

.topic-container {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(160, 157, 163, 0.5);
  a {
    color: white;
  }
}

.topic-debate-info {
  border: 1px solid black;
  border-radius: 75px;
  background-color: rgba(36, 108, 96, 0.5);
}

.side-color {
  float: right;
  height: 100%;
  width: 10px;
  background-color: $secondary-color;
}

li.side-logo {
  padding-right: 10px;
  padding-left: 0;
}

.argument.panel {
  border-style: solid;
  border-width: 7px;
  border-color: rgb(213,86,69);
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f2f2f2;
  color: #333333;
}

.topic-title {
  h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
    border-bottom: 7px solid rgb(217,153,26);
  }
}

.debate-top-bar {
  z-index: 10;
position: fixed;
width: 960px;
background-color: #d9bd86;
margin: auto;
border-bottom: 7px solid rgb(217,153,26);
}

.top-bar-bottom {
  width: 100%;
  height: 7px;
  background-color: $secondary-color;

}
