$primary-color: #102124;
$goldenrod: rgb(50,153,187);
$tertiary-color: rgb(66,66,66);
$background: rgb(188,188,188);
$accent-color:rgb(217,189,134);
$white: #fff;
$light-grey: rgb(215,215,215);
$main-font: 'Dosis', sans-serif;
$secondary-font: 'Play', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Dosis|Play);

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }
.clearfix { display: block; }




input.button {
  background-color: $tertiary-color;
  transition: all 0.6s ease-in;
}

input.button:hover {
  background-color: lightgrey;
  border: medium solid $goldenrod;
  border-width: 1px;
  color: $primary-color;
  opacity: 0.8;
  transition: all 1s ease-out;
}

.button[disabled]:hover {
  background-color: lightgrey;
  border: medium solid $goldenrod;
  border-width: 1px;
  color: $primary-color;
  opacity: 0.8;
  transition: all 1s ease-out;
}

.button[disabled] {
 background-color: lightgrey;
 border: medium solid $goldenrod;
 border-width: 1px;
 color: $primary-color;
 opacity: 0.8;
}

.argument-container {
  margin-top: 158px;
  margin-left: 12px;
  background: none;
  border: none;
  padding-top: 15px;
  overflow: auto;
  width: 99%;
  h3 {
    font-family: $main-font;
    text-align: center;
    text-decoration: underline;
  }
}


.argument {

}

.topic-title {
  text-align: center;
  h1 {
    font-family: $main-font;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
    border-bottom: 5px solid #d9991a;
  }
}

.side-arguments {
  h2 {
    text-align: center;
    text-decoration: underline;
  }
}

.side-link {
  width: 150px;
}

.side-link a {
  color: white !important;
  width: 150px;
  text-align: center;
}

.side-link:hover a {
  border-radius: 10px;
  background-color: white !important;
  border: 3px solid $goldenrod;
  color: $primary-color !important;
  text-decoration: underline;
  opacity: 0.9;
}

.side-link:active a {
  border-radius: 10px;
  background-color: white !important;
  border: 3px solid $goldenrod;
  color: $primary-color !important;
  text-decoration: underline;
  opacity: 0.9;
}

.top-bar {
  background: none;
  height: 3.750em;
  left: 15em;
  margin-top: -10px;
}

.side-nav {
  background-color: $tertiary-color;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 13em;
  font-family: $main-font;
  padding: 0;

  li {
    font-size: 1.2em;
    padding-left: 2em;
  }

  .active {

    border-radius: 10px;
    background-color: white !important;
    border: 3px solid $goldenrod;
    color: $primary-color !important;
    text-decoration: underline;
    opacity: 0.9;
  }

}

.topic-tile {
  .panel {
    height: 100%;
    text-align: center;
  }

  img {
    margin-bottom: 1em;
  }
}

.content {
  font-family: $main-font;
  height: 100%;
  h2 {
    font-family: $main-font;
  }
}

.versus {
  padding-left: 28px;
  h1 {
    font-family: $secondary-font;
    padding-left: 32px;
  }
}

.bottom-avatar {
  bottom: 20px;
  height: 52px;
  position: fixed;
  width: 52px;
  left: -20px;

  img {
    bottom: 20px;
    height: 52px;
    position: fixed;
    width: 52px;
    border-radius: 5px;
  }

}

.bottom-avatar-text {
  bottom: 20px;
  color: $white;
  font-size: 1em !important;
  height: 52px;
  left: 50px;
  padding-top: 7px;
  position: fixed;
  width: 60px;
}

.workspace-links {
  a {
    color: $goldenrod;
    float:right;
    font-size: 0.85em;
    padding: 0 3px;
  }
}

.workspace-update-links {
  a {
    color: $goldenrod;
    float: right;
    font-size: 0.85em;
    letter-spacing: 0.1em;
    padding-left: 10px;
  }

}

.debate-player-conatiner {
  padding-bottom: 15px;
  img {
    height: 60px;
    width: 60px;
    border-radius: 10px;
  }
}

.debate-player-info {
  text-align: left;
  padding-right: 31px;
  padding-top: 7px;
  padding-left: 0px;
}

.debate-player-avatar {
  text-align: right;
}

body {
  background-image: url(asset-path('background1.jpg'));
  overflow-x: hidden;
}

.main-container {
  margin-left: 208px;
  max-width: 74.5rem;
  width: 84%;
  height: 100%;
  overflow: auto;
}

.topic-title {
  text-align: center;
}

.topic-debate-container {
  padding-top: 75px;
  color:black;
  background:none;
  border: none;
  img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }
  h1 {
    color: black;
    text-align: center;
    text-decoration: underline;
  }
  .panel {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    color: #333333;
  }
}

.topic-debate-info {
  border: none;
  box-shadow: 2px 2px 6px grey;
  background-color: rgb(66,66,66);
  padding-top: 2px;
  border-radius:4px;
  a span {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
  }
  h1 {
    color: white;
  }
  h4 {
    text-align: center;
    color: white;
    text-decoration: underline;
    font-family: $main-font;
  }
  .topic-versus {
    padding-top: 66px;
    h1 {
      font-family: $secondary-font;
      text-decoration: none;
    }
  }
}

.item {
  background-color: rgb(66,66,66);
}

.topic-debate-info.row {
  margin: 10px;
}


.topic-container {
  border: 1px solid lightgrey;
  border-radius: 3px;
  background-color: grey;
  a {
    color: white;
  }
}

.topic-side-name {
  color: white;
  font-size: 25px;
  text-decoration: underline;
  padding-bottom: 16px;
}

.topic-side-avatar {
  img {
    width: 75px;
    height: 75px;
  }
}

.topic-side-user {
  color: black;
  font-size: 20px;
  text-decoration: underline;
  padding-top: 13px;
  padding-left: 0;
}

.topic-side-2-user {
  color: black;
  font-size: 20px;
  text-decoration: underline;
  padding-top: 13px;
  padding-right: 0;
}

.side-color {
  float: right;
  height: 100%;
  width: 3px;
  background-color: #3299bb;
  position: absolute;
  left: 12.8em;
  top: 3.8em;
}

li.side-logo {
  padding-right: 10px;
  padding-left: 0;
}

.argument.panel {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f2f2f2;
  color: #333333;
  box-shadow: 5px 5px 4px #888888;
  h3 {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 12px;
  }
}

.topic-title {
  h1 {
    text-align: center;
    margin-top: 0;
    width: 100%;
    margin-bottom: 0px;
    background-color: rgb(66,66,66);
    color: whitesmoke;
    border-bottom: 5px solid #d9991a;
  }
}

.debate-top-bar {
  z-index: 10;
  position: fixed;
  right: 0;
  left: 13em;
  background-color: rgba($background, 0.7);
  margin: auto;
    h2 {
      padding-top: 5px;
    }
}

.top-bar-bottom {
  width: 100%;
  height: 5px;
  background-color: #3299bb;

}

.range-slider-active-segment {
  text-align: left;
}

.topic-debate-side {
  text-align: center;
  border-width: 3px;
}

.blue {
  border-color: rgb(50,153,187);
}

.yellow {
  border-color: rgb(255,153,0);
}

.argument-content {
 position: absolute;
 top: 0; bottom: 0; left: 0; right: 0;
 overflow: auto;
}

.argument-form-container {
  margin-top: 168px;
  h2 {
    color: black;
  }
}

.argument-form-two {
  form textarea {
    background-color: rgba(300,300,300, 0.5)
  }
}

label {
  color: white;
}

#container {
  height: 350px;
  width: 80%;
  margin: auto;
}

.topic-pie-chart {
  width: 80%;
  margin: auto;
}

.graph {
  padding: 5px;
}

.start-debate{
  h2{
    margin-bottom: 4px;
    padding: 0px;
  }
  a {
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    background-color: lightgrey;
    margin-bottom: 0;
    padding: 0px 13px;
  }
}

.pan {
  background-color: lightgrey;
}

.arg-body {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 12px;
}

.arg-applauds {
  text-align: center;
}

.home-container {
  padding: 10px 33px;
  h2 {
    border-bottom: 1px solid lightgrey;
  }
}

.tile-link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.topic-index-container {
  h1 {
    font-family: $main-font;
  }
}

.topic-index-bottom {
  text-align: center;
}

.paginate {
  padding-top: 10px;
}

.form {
  label {
    color: black;
  }
}

.new-form-container {
  margin-top: 10px;
}



.topic-tile-home {
  height: 80%;
  .home-topic {
    background-color: white;
    height: 70%;
    text-align: center;
  }

  img {
    margin-bottom: 1em;
  }
}

.home-container {
  h1 {
    font-family: $main-font;
    text-align: center;
    text-decoration: underline;
  }
}

.side-pick {
  margin-top: 200px;
}

.feat-body {
  height: 289px;
  overflow: auto;
}

.top-argument-avatar {
  height: 75px;
  width: 75px;
}

.marg {
  margin-bottom: 0 !important;
}

.new_vote {
  text-align: center;
  padding-top: 10px;
}

.topic-side-avatar img {
  box-shadow: 2px 2px 4px;
}

form {
  textarea {
    height: 150px;
  }
}

.top-argument-score {
  border-bottom: 1px solid lightgrey;
}
